################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskBackend/Solution/.vs/Solution/FileContentIndex/50d2901d-10fd-4651-a876-eae5fb81f0c7.vsidx
/TaskBackend/Solution/.vs/Solution/FileContentIndex/544a47ce-c156-4543-909a-f81d6ac633c1.vsidx
/TaskBackend/Solution/.vs/Solution/FileContentIndex/703490a3-082c-47ff-b528-51603162d57b.vsidx
/TaskBackend/Solution/.vs/Solution/FileContentIndex/99969afa-84ec-451a-a1ce-cf4b856a5aba.vsidx
/TaskBackend/Solution/.vs/Solution/FileContentIndex/b783434e-f773-4514-93c3-b0b6f623262a.vsidx
/TaskBackend/Solution/.vs/Solution/DesignTimeBuild/.dtbcache.v2
/TaskBackend/Solution/.vs/Solution/FileContentIndex
